.events-list {

    .css-1wlk0hk-MuiAvatar-root {
        width: 300px;
        height: 300px;
        margin-left: 1vw;
    }

    .MuiListItemText-primary {
        font-size: 1.5rem;
        color: #bc896a;
    }

    .MuiList-root {
        max-width: unset;
        text-align: right;
        display: unset !important;
    }

    .MuiListItemText-root {
        text-align: right;
    }

    .history-details-link {
        white-space: nowrap;
        align-self: flex-end;
        color: #bc896a;

    }

    .maps-link {
        margin-left: 2rem;
    }
}